## 데이터핸들링 1

판다스를 활용한 데이터 핸들링

판다스

판다스는 파이썬을 기반으로 쉽고 강력한 데이터 분석 도구

판다스를 시작할 때는 판다스 라이브러리를 불러오고, 판다스의 별칭은 pd로 일반적으로 사용됨

라이브러리 불러오기

In [1]:
#판다스 라이브러리
import pandas as pd

데이터 프레임과 시리즈

데이터 프레임은은 행과 열이 있는 표 형태 구조, 시리즈 : 하나의 열(컬럼)

In [4]:
#시리즈 만들기(문자열) 메뉴 : 후라이트, 양념치킨, 양념반 후라이드반
menu_list = ['후라이트', '양념치킨', '양념반 후라이드반']
menu = pd.Series(menu_list)
menu

0         후라이트
1         양념치킨
2    양념반 후라이드반
dtype: object

In [5]:
#시리즈 만들기(숫자) 12000,13000,15000
p_list = [12000,13000,15000]
price = pd.Series(p_list)
price

0    12000
1    13000
2    15000
dtype: int64

In [6]:
type(price)

pandas.core.series.Series

In [15]:
#데이터 프레임 만들기(시리즈 > 데이터 프레임)
m = pd.DataFrame({'메뉴':menu, '가격':price})

In [11]:
#데이터 프레임 타입 확인
type(m)

pandas.core.frame.DataFrame

In [14]:
#데이터 프레임 만들기 pd.DataFrame({'칼럼명':데이터})
data = {'메뉴':['후라이트', '양념치킨', '양념반 후라이드반'], '가격':[12000,13000,15000],'호수':[10,9,8]}
df = pd.DataFrame(data)
df

          메뉴     가격  호수
0       후라이트  12000  10
1       양념치킨  13000   9
2  양념반 후라이드반  15000   8

데이터 불러오기 및 저장

In [21]:
#데이터 생성:csv 파일(data.csv)생성
import pandas as pd
data = {'메뉴':['후라이드', '양념치킨', '간장치킨','마늘치킨','파닭','닭강정','양반후반'], '가격':[12000,13000,14000,14000,14000,15000,13000],'호수':['10호','9호','8호','7호','6호','5호','4호'],'칼로리':[100,200,300,400,500,600,700]}
data = pd.DataFrame(data)
data.to_csv('modudak.csv', index=False)

In [23]:
#데이터 불러오기
pd.read_csv('modudak.csv')

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500
5   닭강정  15000   5호  600
6  양반후반  13000   4호  700

In [24]:
#데이터 불러와서 변수에 담기
df= pd.read_csv('modudak.csv')

In [25]:
# 데이터 샘플 확인 : 앞에서 부터 n개(기본5개)
df.head()

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500

In [26]:
# 데이터 샘플 확인 : 뒤에서 부터 n개(기본5개)
df.tail()

     메뉴     가격  호수  칼로리
2  간장치킨  14000  8호  300
3  마늘치킨  14000  7호  400
4    파닭  14000  6호  500
5   닭강정  15000  5호  600
6  양반후반  13000  4호  700

In [27]:
#데이터 샘플 확인 : 뒤에서 부터 2개
df.tail(2)

     메뉴     가격  호수  칼로리
5   닭강정  15000  5호  600
6  양반후반  13000  4호  700

In [31]:
#csv 파일로 저장하기
df.to_csv('test.csv', index=False)

In [32]:
# 저장된 csv 확인
pd.read_csv('test.csv')

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500
5   닭강정  15000   5호  600
6  양반후반  13000   4호  700

In [33]:
#csv 파일을 저장한 변수의 type은 무엇일까요?
type(df)

pandas.core.frame.DataFrame

데이터 선택하기

In [34]:
#열 (column) 선택하기
# 시리즈 선택(메뉴)
df['메뉴']

0    후라이드
1    양념치킨
2    간장치킨
3    마늘치킨
4      파닭
5     닭강정
6    양반후반
Name: 메뉴, dtype: object

In [35]:
#데이터 프레임 선택(메뉴,가격)
df[['메뉴','가격']] # 시리즈 2개는 대괄호 2번 필요

     메뉴     가격
0  후라이드  12000
1  양념치킨  13000
2  간장치킨  14000
3  마늘치킨  14000
4    파닭  14000
5   닭강정  15000
6  양반후반  13000

In [39]:
#type 확인
type(df[['메뉴','가격']])

pandas.core.frame.DataFrame

In [41]:
#행(row) 선택하기
#14000원 보다 큰 가격
df['가격']>14000

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: 가격, dtype: bool

In [42]:
# 14000원보다 큰 가격 데이터 선택
cond = df['가격']>14000
df[cond]

    메뉴     가격  호수  칼로리
5  닭강정  15000  5호  600

In [44]:
# 조건 2개 이상일때(AND)
cond1 = df['가격']>14000
cond2 = df['호수']=='5호'
df[cond1 & cond2]

    메뉴     가격  호수  칼로리
5  닭강정  15000  5호  600

In [45]:
# 조건 2개 이상일때(OR)
cond1 = df['가격']>14000
cond2 = df['호수']=='5호'
df[cond1 | cond2]

    메뉴     가격  호수  칼로리
5  닭강정  15000  5호  600

In [46]:
# isin() : 조건 여러개일때
cond = df['호수'].isin(['5호','6호'])
df[cond]

    메뉴     가격  호수  칼로리
4   파닭  14000  6호  500
5  닭강정  15000  5호  600

인덱싱 / 슬라이싱

In [47]:
# 데이터 불러오기
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500
5   닭강정  15000   5호  600
6  양반후반  13000   4호  700

In [49]:
# 인덱스명 임의 변경
df['index'] = ['a','b','c','d','e','f','g']
df = df.set_index(keys=['index'])
df

         메뉴     가격   호수  칼로리
index
a      후라이드  12000  10호  100
b      양념치킨  13000   9호  200
c      간장치킨  14000   8호  300
d      마늘치킨  14000   7호  400
e        파닭  14000   6호  500
f       닭강정  15000   5호  600
g      양반후반  13000   4호  700

loc

인덱스 이름으로 데이터 선택

인덱스명(범위), 컬럼명(범위)

In [50]:
#인덱싱(행전체)
#후라이드
df.loc['a']

메뉴      후라이드
가격     12000
호수       10호
칼로리      100
Name: a, dtype: object

In [51]:
#슬라이싱(컬럼전체)
#가격
df.loc[:,'가격']

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [52]:
#슬라이싱(컬럼전체)
#양념치킨 가격
df.loc['b':'가격']

         메뉴     가격  호수  칼로리
index
b      양념치킨  13000  9호  200
c      간장치킨  14000  8호  300
d      마늘치킨  14000  7호  400
e        파닭  14000  6호  500
f       닭강정  15000  5호  600
g      양반후반  13000  4호  700

In [54]:
#슬라이싱
#간장치킨 메뉴와 가격
df.loc['c','메뉴':'가격']

메뉴     간장치킨
가격    14000
Name: c, dtype: object

In [55]:
#슬라이싱
#간장치킨 메뉴와 칼로리
df.loc['c','메뉴':'칼로리']

메뉴      간장치킨
가격     14000
호수        8호
칼로리      300
Name: c, dtype: object

In [56]:
#슬라이싱
#간장치킨 메뉴와 칼로리만 출력
df.loc['c',['메뉴','칼로리']]

메뉴     간장치킨
칼로리     300
Name: c, dtype: object

In [57]:
#슬라이싱
#양념치킨에서 마늘치킨까지 메뉴와 가격
df.loc['b':'d','메뉴':'가격']

         메뉴     가격
index
b      양념치킨  13000
c      간장치킨  14000
d      마늘치킨  14000

iloc

인덱스 번호로 데이터 선택

In [58]:
#데이터 확인
df

         메뉴     가격   호수  칼로리
index
a      후라이드  12000  10호  100
b      양념치킨  13000   9호  200
c      간장치킨  14000   8호  300
d      마늘치킨  14000   7호  400
e        파닭  14000   6호  500
f       닭강정  15000   5호  600
g      양반후반  13000   4호  700

In [59]:
#인덱싱(행전체)
#후라이드
df.iloc[0]

메뉴      후라이드
가격     12000
호수       10호
칼로리      100
Name: a, dtype: object

In [62]:
#슬라이싱(컬럼전체)
#가격
df.iloc[:,1]

index
a    12000
b    13000
c    14000
d    14000
e    14000
f    15000
g    13000
Name: 가격, dtype: int64

In [63]:
#슬라이싱(컬럼전체)
#간장치킨 메뉴와 가격
df.iloc[2,0:2] #iloc의 경우 범위의 끝은 포함하지 않음

메뉴     간장치킨
가격    14000
Name: c, dtype: object

In [66]:
#슬라이싱(양념치킨과 간장치킨의 데이터)
df.iloc[1:3,0:3]

         메뉴     가격  호수
index
b      양념치킨  13000  9호
c      간장치킨  14000  8호

인덱스 다루기

In [67]:
#데이터 불러오기
df = pd.read_csv('modudak.csv')
df

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500
5   닭강정  15000   5호  600
6  양반후반  13000   4호  700

In [102]:
#인덱스명 임의 변경
#set_index() : 인덱스명 변경
df = pd.DataFrame(data)
df.to_csv('modudak.csv', index=False)

df = df.set_index(keys=['메뉴'])
df

         가격   호수  칼로리
메뉴
후라이드  12000  10호  100
양념치킨  13000   9호  200
간장치킨  14000   8호  300
마늘치킨  14000   7호  400
파닭    14000   6호  500
닭강정   15000   5호  600
양반후반  13000   4호  700

In [103]:
#loc를 이용한 인덱스명 변경
# 양념치킨에서 마늘치킨까지 호수에서 칼로리까지
df.loc['양념치킨':'마늘치킨','호수':'칼로리']

      호수  칼로리
메뉴
양념치킨  9호  200
간장치킨  8호  300
마늘치킨  7호  400

In [104]:
#iloc를 이용한 인덱스명 변경
# 양념치킨에서 마늘치킨까지 호수에서 칼로리까지
df.iloc[1:4,1:]

      호수  칼로리
메뉴
양념치킨  9호  200
간장치킨  8호  300
마늘치킨  7호  400

In [105]:
# reset_index() : 인덱스 초기화(기본값 : drop=False)
df = df.reset_index()
df

     메뉴     가격   호수  칼로리
0  후라이드  12000  10호  100
1  양념치킨  13000   9호  200
2  간장치킨  14000   8호  300
3  마늘치킨  14000   7호  400
4    파닭  14000   6호  500
5   닭강정  15000   5호  600
6  양반후반  13000   4호  700