## 데이터 핸들링2

3-2 데이터 불러오기 / 만들기

In [163]:
import pandas as pd
import numpy as np
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [164]:
#데이터 불러오기(인덱스 값 지정, index_col)
pd.read_csv('new_modudak.csv', index_col='Unnamed: 0')

                   메뉴     가격   호수     칼로리  할인율      할인가  원산지
Unnamed: 0
0              황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1              승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2                간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3                마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4                  파닭  14000  11호  1300.0  0.2  11200.0  브라질
5                 닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6            양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
new         [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
10          [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [165]:
# 데이터 삭제

# 컬럼 삭제

#[tip] 데이터 프레임 복사
df2 = df.copy()
df2

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [166]:
# 데이터 삭제(컬럼(열 : Unnamed: 0) 삭제),drop(axis=1)
# axis=1 : 컬럼(열) 삭제 / axis=0 : 로우(행) 삭제
df2 = df2.drop('Unnamed: 0', axis=1)
df2

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [167]:
# 데이터 삭제(컬럼:Unnamed: 0) drop(columns=[])
df2 = df.copy()
df2 = df2.drop(columns=['Unnamed: 0',])
df2

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [168]:
# 데이터 복사(data -> df)
data = df.copy()
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [169]:
# 데이터 삭제(로우(행) 삭제, 파닭), drop(axis=0)
data = data.drop(4, axis=0)
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [170]:
# 데이터 삭제(로우(행) 삭제, 양념반후라이드반), inplace=True)
data.drop(6, axis=0, inplace=True) # inplace=True : 원본 데이터에 적용, 대입없이 바로 삭제 가능(data = 의 형식 불필요)
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [171]:
#행삭제 (조건:가격>=14000)
# cond = data['가격'] >= 14000
# data.drop(data[cond].index, axis=0, inplace=True)
# data

In [172]:
# 행삭제(조건:가격>=14000)
cond = data['가격'] >= 14000
# 몇번 인덱스가 해당하는지 확인
data[cond].index

Int64Index([2, 3, 5, 7], dtype='int64')

In [173]:
#행삭제(해당인덱스 명)
data.drop(data[cond].index, axis=0, inplace=True)
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [174]:
data = data.drop('Unnamed: 0', axis=1)
data

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [175]:
#결측치 처리

#결측치 삭제

#데이터 프레임 복사
data = df.copy()
data

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [176]:
#결측치가 있는 모든 행 삭제
data.dropna(axis=0)

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산

In [177]:
#결측치가 있는 모든 열 삭제
data.dropna(axis=1)

  Unnamed: 0         메뉴     가격   호수
0          0     황금후라이드  12000  10호
1          1     승일양념치킨  13000  10호
2          2       간장치킨  14000   9호
3          3       마늘치킨  14000   9호
4          4         파닭  14000  11호
5          5        닭강정  15000  12호
6          6   양념반후라이드반  13000  10호
7        new  [인기]아이펠치킨  16000  11호
8         10  [베스트]풀잎치킨   9900  10호

In [178]:
df = pd.DataFrame({
    'Unnamed: 0': [0,1,2,3,4,5,6,'new',10],
    '메뉴': ['황금후라이드','승일양념치킨','간장치킨','마늘치킨','파닭','닭강정','양념반후라이드반','[인기]아이펠치킨','[베스트]풀잎치킨'],
    '가격': [12000,13000,14000,14000,14000,15000,13000,16000,9900],
    '호수' : ['10호','10호','9호','9호','11호','12호','10호','11호','10호'],
    '칼로리' : [1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,np.nan],
    '할인율' : [0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,np.nan],
    '할인가' : [9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,np.nan],
    '원산지' : ['국내산',np.nan,np.nan,np.nan,'브라질','브라질',np.nan,'국내산',np.nan]
})
df.to_csv('new_modudak.csv', index=False)
df.drop('Unnamed: 0', axis=1, inplace=True)
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [179]:
#결측치 채우기

#컴럼별 결측치 확인
df.isnull().sum()

메뉴     0
가격     0
호수     0
칼로리    1
할인율    1
할인가    1
원산지    5
dtype: int64

In [180]:
#결측값 채우기
# '원산지'->'알수없음'으로 채우기
df['원산지'].fillna('알수없음')

0     국내산
1    알수없음
2    알수없음
3    알수없음
4     브라질
5     브라질
6    알수없음
7     국내산
8    알수없음
Name: 원산지, dtype: object

In [181]:
# '원산지' 최반값으로 채우기
df['원산지'].fillna('국내산') # 국내산이 최빈값이므로 국내산으로 눈으로 세서 채웠고 나중에 내장함수 이용해서 다시 스터디 예정

0    국내산
1    국내산
2    국내산
3    국내산
4    브라질
5    브라질
6    국내산
7    국내산
8    국내산
Name: 원산지, dtype: object

In [182]:
# '원산지' 채우기 실행
df['원산지'] = df['원산지'].fillna('국내산')
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  국내산

In [183]:
#'칼로리' 컬럼 결측치는 900으로 결측치 채우기
df['칼로리'].fillna(900)

0    1000.0
1    1400.0
2    1600.0
3    1800.0
4    1300.0
5    1500.0
6    1300.0
7    1200.0
8     900.0
Name: 칼로리, dtype: float64

In [184]:
# '칼로리' 컬럼 결측치는 최소값 결측치 채움
df['칼로리'].fillna(df['칼로리'].min())

0    1000.0
1    1400.0
2    1600.0
3    1800.0
4    1300.0
5    1500.0
6    1300.0
7    1200.0
8    1000.0
Name: 칼로리, dtype: float64

In [185]:
#칼로리 채우기 실행
# 반드시 df['칼로리'] = <- 이렇게 해야 적용됨
df['칼로리'] = df['칼로리'].fillna(df['칼로리'].min())
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [186]:
#정렬

# 데이터 확인
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [187]:
#인덱스 기준(기본값 ascending=True) # 오름차순
df.sort_index(ascending=False) # 내림차순

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산

In [188]:
#가격 기준(ascending=True) # 오름차순
#메뉴 기준 정렬
df.sort_values(by='가격', ascending=False) # 내림차순

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [189]:
# 가격과 메뉴 기준 정렬
df = df.sort_values(['가격','메뉴'], ascending=[False,True]) # 내림차순
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
7  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [190]:
# 인덱스 새로 만들기 drop=True <- 기존 인덱스 삭제
df = df.reset_index(drop=True)
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [191]:
# 자료형 변환

# 데이터 확인
df

          메뉴     가격   호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9호  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9호  1800.0  0.2  11200.0  국내산
4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10호  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10호  1000.0  NaN      NaN  국내산

In [192]:
# type 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      object
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(1), object(3)
memory usage: 632.0+ bytes

In [193]:
# 호 단어 삭제(str, replace 활용)
df['호수'] = df['호수'].str.replace('호','')
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산

In [194]:
# 자료형 변환 / astype('자료형') / object -> int
df['호수'] = df['호수'].astype('int')
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산

In [195]:
# 자료형 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      int64
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [196]:
# 호수 평균
df['호수'].mean()

10.222222222222221

In [197]:
# df 변수의 데이터의 '호수' 칼럼 값들의 표준편차를 구하세요.
# 힌트 : 영상에서의 mean() 대신 std() 함수를 사용해보세요.
df['호수'].std()

0.9718253158075499

In [198]:
# 데이터 탐색
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산

In [199]:
#데이터 프레임의 크기(행,열) 확인
df.shape

(9, 7)

In [200]:
#테이터 샘플 확인(head)
df.head()

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질

In [201]:
#컬럼 형태(type) 확인
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   메뉴      9 non-null      object
 1   가격      9 non-null      int64
 2   호수      9 non-null      int64
 3   칼로리     9 non-null      float64
 4   할인율     8 non-null      float64
 5   할인가     8 non-null      float64
 6   원산지     9 non-null      object
dtypes: float64(3), int64(2), object(2)
memory usage: 632.0+ bytes

In [202]:
#기초 통계
df.describe()

                 가격         호수          칼로리       할인율           할인가
count      9.000000   9.000000     9.000000  8.000000      8.000000
mean   13433.333333  10.222222  1344.444444  0.237500  10500.000000
std     1764.936259   0.971825   265.099562  0.106066   1242.118007
min     9900.000000   9.000000  1000.000000  0.200000   8000.000000
25%    13000.000000  10.000000  1200.000000  0.200000  10200.000000
50%    14000.000000  10.000000  1300.000000  0.200000  10800.000000
75%    14000.000000  11.000000  1500.000000  0.200000  11200.000000
max    16000.000000  12.000000  1800.000000  0.500000  12000.000000

In [203]:
#기초 통계 (object)
df.describe(include='object') #unique : 중복 제거한 값의 개수 / top : 가장 윗값 / freq : 최빈값의 빈도수

               메뉴  원산지
count           9    9
unique          9    2
top     [인기]아이펠치킨  국내산
freq            1    7

In [204]:
# 상관 관계
df.corr()

/var/folders/jd/qspsq8mn2db0y77ryp1w10_c0000gp/T/ipykernel_16475/3204274577.py:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

           가격        호수       칼로리       할인율       할인가
가격   1.000000  0.374104  0.522744  0.688875 -0.138409
호수   0.374104  1.000000 -0.285724  0.292770 -0.022222
칼로리  0.522744 -0.285724  1.000000 -0.306122  0.636659
할인율  0.688875  0.292770 -0.306122  1.000000 -0.813250
할인가 -0.138409 -0.022222  0.636659 -0.813250  1.000000

In [205]:
#항목 종류 수
df.nunique()

메뉴     9
가격     6
호수     4
칼로리    7
할인율    2
할인가    5
원산지    2
dtype: int64

In [206]:
#항목 종류
df['호수'].unique()

array([11, 12,  9, 10])

In [207]:
#항목 종류별 개수
df['호수'].value_counts()

10    4
11    2
9     2
12    1
Name: 호수, dtype: int64

In [208]:
# Q. 다음 df 변수의 데이터에서 '가격'의 3분위 수(75%)를 구하고,
# '호수'의 종류 수를 구하세요.
# 힌트 : describe(), nunique()를 사용해보세요.
df

          메뉴     가격  호수     칼로리  할인율      할인가  원산지
0  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산
1        닭강정  15000  12  1500.0  0.2  12000.0  브라질
2       간장치킨  14000   9  1600.0  0.2  11200.0  국내산
3       마늘치킨  14000   9  1800.0  0.2  11200.0  국내산
4         파닭  14000  11  1300.0  0.2  11200.0  브라질
5     승일양념치킨  13000  10  1400.0  0.2  10400.0  국내산
6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  국내산
7     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산
8  [베스트]풀잎치킨   9900  10  1000.0  NaN      NaN  국내산

In [209]:

# Q. 다음 df 변수의 데이터에서 '가격'의 3분위 수(75%)를 구하고,
# '호수'의 종류 수를 구하세요.
# 힌트 : describe(), nunique()를 사용해보세요.
df = pd.read_csv('new_modudak.csv')
df
q3 = df['가격'].describe()['75%']
print(f"가격의 3분위수는 {q3:.0f}원입니다.")

# nunique()를 사용하여 '호수' 열의 종류 구하기
hoosu_num = df['호수'].nunique()
print(f"'호수' 열의 종류는 {hoosu_num}개 입니다.")

가격의 3분위수는 14000원입니다.
'호수' 열의 종류는 4개 입니다.

In [210]:
#내장함수

In [211]:
# 데이터 확인
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [212]:
# 카운트(컬럼) 기본값 axis=0
df.count()

Unnamed: 0    9
메뉴            9
가격            9
호수            9
칼로리           8
할인율           8
할인가           8
원산지           4
dtype: int64

In [213]:
# 카운트(행) axis=1
df.count(axis=1)

0    8
1    7
2    7
3    7
4    8
5    8
6    7
7    8
8    4
dtype: int64

In [214]:
#[tip] 데이터 수 len(),shape[0]
len(df)
df.shape[0]

9

In [215]:
#최대값
df['가격'].max()

16000

In [216]:
#최소값
df['가격'].min()

9900

In [217]:
#평균값
df['가격'].mean()

13433.333333333334

In [218]:
#중간값
df['가격'].median()

14000.0

In [219]:
#합계
df['가격'].sum()

120900

In [220]:
#표준편차
df['가격'].std()

1764.936259472279

In [221]:
#분산
df['가격'].var()

3115000.0

In [222]:
#백분위수
df.describe()

                 가격          칼로리       할인율           할인가
count      9.000000     8.000000  8.000000      8.000000
mean   13433.333333  1387.500000  0.237500  10500.000000
std     1764.936259   247.487373  0.106066   1242.118007
min     9900.000000  1000.000000  0.200000   8000.000000
25%    13000.000000  1275.000000  0.200000  10200.000000
50%    14000.000000  1350.000000  0.200000  10800.000000
75%    14000.000000  1525.000000  0.200000  11200.000000
max    16000.000000  1800.000000  0.500000  12000.000000

In [223]:
# 하위 25% 값
df['가격'].quantile(0.25)

13000.0

In [224]:
# 상위 25% 값
df['가격'].quantile(0.75)

14000.0

In [225]:
# 하위 25% 보다 작은 데이터 값
cond = df['가격'].quantile(0.25) > df['가격']
df[cond]

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율     할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2  9600.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN     NaN  NaN

In [226]:
# 상위 25% 보다 큰 데이터 값
cond = df['가격'].quantile(0.75) < df['가격']
df[cond]

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산

In [227]:
# 최빈값 구하기
df['원산지'].mode()[0]

'국내산'

In [228]:
# 행과 열 바꾸기(transpose)
df.T

,0,1,2,3,4,5,6,7,8
Unnamed: 0,0,1,2,3,4,5,6,new,10
메뉴,황금후라이드,승일양념치킨,간장치킨,마늘치킨,파닭,닭강정,양념반후라이드반,[인기]아이펠치킨,[베스트]풀잎치킨
가격,12000,13000,14000,14000,14000,15000,13000,16000,9900
호수,10호,10호,9호,9호,11호,12호,10호,11호,10호
칼로리,1000.0,1400.0,1600.0,1800.0,1300.0,1500.0,1300.0,1200.0,NaN
할인율,0.2,0.2,0.2,0.2,0.2,0.2,0.2,0.5,NaN
할인가,9600.0,10400.0,11200.0,11200.0,11200.0,12000.0,10400.0,8000.0,NaN
원산지,국내산,NaN,NaN,NaN,브라질,브라질,NaN,국내산,NaN

In [229]:
# 그룹핑

In [230]:
# 원산지 기준, 평균
df.groupby('원산지').mean()

/var/folders/jd/qspsq8mn2db0y77ryp1w10_c0000gp/T/ipykernel_16475/3062215196.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('원산지').mean()

          가격     칼로리   할인율      할인가
원산지
국내산  14000.0  1100.0  0.35   8800.0
브라질  14500.0  1400.0  0.20  11600.0

In [231]:
#원산지와 할인율 기준, 평균
df.groupby(['원산지','할인율']).mean()

/var/folders/jd/qspsq8mn2db0y77ryp1w10_c0000gp/T/ipykernel_16475/1004756624.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['원산지','할인율']).mean()

              가격     칼로리      할인가
원산지 할인율
국내산 0.2  12000.0  1000.0   9600.0
    0.5  16000.0  1200.0   8000.0
브라질 0.2  14500.0  1400.0  11600.0

In [232]:
# 원산지와 할인율 기준, 가격 평균 -> 시리즈 형태
df.groupby(['원산지','할인율'])['가격'].mean()

원산지  할인율
국내산  0.2    12000.0
     0.5    16000.0
브라질  0.2    14500.0
Name: 가격, dtype: float64

In [233]:
# 원산지와 할인율 기준, 가격 평균 -> 데이터프레임 형태1
pd.DataFrame(df.groupby(['원산지','할인율'])['가격'].mean())

              가격
원산지 할인율
국내산 0.2  12000.0
    0.5  16000.0
브라질 0.2  14500.0

In [234]:
# 원산지와 할인율 기준, 가격 평균 -> 데이터프레임 형태2
df.groupby(['원산지','할인율'])[['가격']].mean()
# 가격에 []를 두번 씌우면 데이터프레임 형태로 나옴

              가격
원산지 할인율
국내산 0.2  12000.0
    0.5  16000.0
브라질 0.2  14500.0

In [235]:
# 원산지와 할인율 기준, 최대값
df.groupby(['원산지','할인율']).max()

        Unnamed: 0         메뉴     가격   호수     칼로리      할인가
원산지 할인율
국내산 0.2          0     황금후라이드  12000  10호  1000.0   9600.0
    0.5        new  [인기]아이펠치킨  16000  11호  1200.0   8000.0
브라질 0.2          5         파닭  15000  12호  1500.0  12000.0

In [236]:
#1개 인덱스 형태로 리셋
df.groupby(['원산지','할인율']).max().reset_index()

   원산지  할인율 Unnamed: 0         메뉴     가격   호수     칼로리      할인가
0  국내산  0.2          0     황금후라이드  12000  10호  1000.0   9600.0
1  국내산  0.5        new  [인기]아이펠치킨  16000  11호  1200.0   8000.0
2  브라질  0.2          5         파닭  15000  12호  1500.0  12000.0

In [237]:
# Q. 다음 df 변수의 데이터에서 '호수'를 기준으로 가격, 칼로리, 할인율, 할인가의 평균을 뽑아주세요.
df = pd.read_csv('new_modudak.csv')
df
df.groupby('호수')[['가격','칼로리','할인율','할인가']].mean()

          가격          칼로리   할인율           할인가
호수
10호  11975.0  1233.333333  0.20  10133.333333
11호  15000.0  1250.000000  0.35   9600.000000
12호  15000.0  1500.000000  0.20  12000.000000
9호   14000.0  1700.000000  0.20  11200.000000

In [238]:
# apply 함수

In [239]:
# 데이터 확인
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN

In [240]:
# apply 예시(칼로리가 1300 보다 큰 값과 작은 값)
def calory(x):
    if x > 1300:
        return '1300보다 큼'
    else:
        return '1300보다 작음'
df['칼로리'].apply(calory)

0    1300보다 작음
1     1300보다 큼
2     1300보다 큼
3     1300보다 큼
4    1300보다 작음
5     1300보다 큼
6    1300보다 작음
7    1300보다 작음
8    1300보다 작음
Name: 칼로리, dtype: object

In [241]:
# apply 적용해서 새로운 컬럼 생성(칼로리 컬럼 활용)
df['살찔까요'] = df['칼로리'].apply(calory)
df

  Unnamed: 0         메뉴     가격   호수     칼로리  할인율      할인가  원산지       살찔까요
0          0     황금후라이드  12000  10호  1000.0  0.2   9600.0  국내산  1300보다 작음
1          1     승일양념치킨  13000  10호  1400.0  0.2  10400.0  NaN   1300보다 큼
2          2       간장치킨  14000   9호  1600.0  0.2  11200.0  NaN   1300보다 큼
3          3       마늘치킨  14000   9호  1800.0  0.2  11200.0  NaN   1300보다 큼
4          4         파닭  14000  11호  1300.0  0.2  11200.0  브라질  1300보다 작음
5          5        닭강정  15000  12호  1500.0  0.2  12000.0  브라질   1300보다 큼
6          6   양념반후라이드반  13000  10호  1300.0  0.2  10400.0  NaN  1300보다 작음
7        new  [인기]아이펠치킨  16000  11호  1200.0  0.5   8000.0  국내산  1300보다 작음
8         10  [베스트]풀잎치킨   9900  10호     NaN  NaN      NaN  NaN  1300보다 작음

In [242]:
# lambda 함수, apply 활용
df['고민']=df['칼로리'].apply(lambda x: '먹지말자' if x > 1300 else '무조건 먹자')
df

,Unnamed: 0,메뉴,가격,호수,칼로리,할인율,할인가,원산지,살찔까요,고민
0,0,황금후라이드,12000,10호,1000.0,0.2,9600.0,국내산,1300보다 작음,무조건 먹자
1,1,승일양념치킨,13000,10호,1400.0,0.2,10400.0,NaN,1300보다 큼,먹지말자
2,2,간장치킨,14000,9호,1600.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
3,3,마늘치킨,14000,9호,1800.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
4,4,파닭,14000,11호,1300.0,0.2,11200.0,브라질,1300보다 작음,무조건 먹자
5,5,닭강정,15000,12호,1500.0,0.2,12000.0,브라질,1300보다 큼,먹지말자
6,6,양념반후라이드반,13000,10호,1300.0,0.2,10400.0,NaN,1300보다 작음,무조건 먹자
7,new,[인기]아이펠치킨,16000,11호,1200.0,0.5,8000.0,국내산,1300보다 작음,무조건 먹자
8,10,[베스트]풀잎치킨,9900,10호,NaN,NaN,NaN,NaN,1300보다 작음,무조건 먹자

In [243]:
# df 저장(final_modudak.csv)
df.to_csv('final_modudak.csv',index=False)

In [244]:
pd.read_csv('final_modudak.csv')

,Unnamed: 0,메뉴,가격,호수,칼로리,할인율,할인가,원산지,살찔까요,고민
0,0,황금후라이드,12000,10호,1000.0,0.2,9600.0,국내산,1300보다 작음,무조건 먹자
1,1,승일양념치킨,13000,10호,1400.0,0.2,10400.0,NaN,1300보다 큼,먹지말자
2,2,간장치킨,14000,9호,1600.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
3,3,마늘치킨,14000,9호,1800.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
4,4,파닭,14000,11호,1300.0,0.2,11200.0,브라질,1300보다 작음,무조건 먹자
5,5,닭강정,15000,12호,1500.0,0.2,12000.0,브라질,1300보다 큼,먹지말자
6,6,양념반후라이드반,13000,10호,1300.0,0.2,10400.0,NaN,1300보다 작음,무조건 먹자
7,new,[인기]아이펠치킨,16000,11호,1200.0,0.5,8000.0,국내산,1300보다 작음,무조건 먹자
8,10,[베스트]풀잎치킨,9900,10호,NaN,NaN,NaN,NaN,1300보다 작음,무조건 먹자

In [246]:
# Q. 다음 df 변수의 데이터에서 각 메뉴의 이름에 '❤️'를 붙여주세요.
# ex. 황금후라이드 -> 황금후라이드❤️
# apply와 lambda를 활용해주세요.
df['메뉴'] =  df['메뉴'].apply(lambda x: x+'❤️')
df

,Unnamed: 0,메뉴,가격,호수,칼로리,할인율,할인가,원산지,살찔까요,고민
0,0,황금후라이드❤️,12000,10호,1000.0,0.2,9600.0,국내산,1300보다 작음,무조건 먹자
1,1,승일양념치킨❤️,13000,10호,1400.0,0.2,10400.0,NaN,1300보다 큼,먹지말자
2,2,간장치킨❤️,14000,9호,1600.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
3,3,마늘치킨❤️,14000,9호,1800.0,0.2,11200.0,NaN,1300보다 큼,먹지말자
4,4,파닭❤️,14000,11호,1300.0,0.2,11200.0,브라질,1300보다 작음,무조건 먹자
5,5,닭강정❤️,15000,12호,1500.0,0.2,12000.0,브라질,1300보다 큼,먹지말자
6,6,양념반후라이드반❤️,13000,10호,1300.0,0.2,10400.0,NaN,1300보다 작음,무조건 먹자
7,new,[인기]아이펠치킨❤️,16000,11호,1200.0,0.5,8000.0,국내산,1300보다 작음,무조건 먹자
8,10,[베스트]풀잎치킨❤️,9900,10호,NaN,NaN,NaN,NaN,1300보다 작음,무조건 먹자

In [247]:
# Q. 다음 df 변수의 데이터에서 '가성비'라는 칼럼을 만들고,
# '호수' / '가격' 의 값이 0.0008을 넘으면 '가성비' 칼럼 값을 'Good' 아니면 'Bad'로 넣어주세요.
# 힌트 : astype(), apply, lambda를 활용합니다.
df = pd.read_csv('new_modudak.csv')
df['호수'] = df['호수'].str.replace('호','')
df['호수'] = df['호수'].astype('int')
df['가성비'] = (df['호수'] / df['가격']).apply(lambda x: 'Good' if x>0.0008 else 'Bad')
df

  Unnamed: 0         메뉴     가격  호수     칼로리  할인율      할인가  원산지   가성비
0          0     황금후라이드  12000  10  1000.0  0.2   9600.0  국내산  Good
1          1     승일양념치킨  13000  10  1400.0  0.2  10400.0  NaN   Bad
2          2       간장치킨  14000   9  1600.0  0.2  11200.0  NaN   Bad
3          3       마늘치킨  14000   9  1800.0  0.2  11200.0  NaN   Bad
4          4         파닭  14000  11  1300.0  0.2  11200.0  브라질   Bad
5          5        닭강정  15000  12  1500.0  0.2  12000.0  브라질   Bad
6          6   양념반후라이드반  13000  10  1300.0  0.2  10400.0  NaN   Bad
7        new  [인기]아이펠치킨  16000  11  1200.0  0.5   8000.0  국내산   Bad
8         10  [베스트]풀잎치킨   9900  10     NaN  NaN      NaN  NaN  Good